body {
  background-color: transparent;
}
.site-tree-node {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

span.errorMessages {
  color: red;
}

.hidden {
  display: none
}
