<html>
    <head>   
        <link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre.css"/>
        <link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre-icons.css"/>
        <link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=display.css"/>

        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/vue.js"></script>
        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/vue-i18n.js"></script>
        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=i18n.js"></script>
        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=utils.js"></script>
        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=display.js"></script>
    </head>

    <body>
        <!-- the body of the app -->
        <div id="app">
            <dialog-modal :show="isDialogModalShown" :title="dialogModalTitle" :text="dialogModalText" @close="isDialogModalShown = false"></dialog-modal>
            <select-tool-modal :show="isSelectToolModalShown" :title="$t('message.hud_select_tool')" @close="isSelectToolModalShown = false"></select-tool-modal>
            <alert-list-modal :show="isAlertListModalShown" :title="alertListModalTitle" @close="isAlertListModalShown = false"></alert-list-modal>
            <all-alerts-modal :show="isAllAlertsModalShown" :title="allAlertsModalTitle" @close="isAllAlertsModalShown = false"></all-alerts-modal>
            <alert-details-modal :show="isAlertDetailsModalShown" :title="alertDetailsModalTitle" @close="isAlertDetailsModalShown = false"></alert-details-modal>
            <simple-menu-modal :show="isSimpleMenuModalShown" :title="simpleMenuModalTitle" @close="isSimpleMenuModalShown = false"></simple-menu-modal>
            <break-message-modal :show="isBreakMessageModalShown" :title="breakMessageModalTitle" @close="isBreakMessageModalShown = false"></break-message-modal>
            <history-message-modal :show="isHistoryMessageModalShown" :title="historyMessageModalTitle" @close="isHistoryMessageModalShown = false"></history-message-modal>
            <site-tree-modal :show="isSiteTreeModalShown" :title="siteTreeModalTitle" @close="isSiteTreeModalShown = false"></http-message-modal>
        </div>
        
        <!-- a base modal component -->
        <template id="modal-template">
            <transition name="modal" @after-leave="afterLeave">
            <div :class="{ 'active': true, 'modal': true, 'modal-wd': isWide, 'modal-sm': isSmall }" id="modal-id" v-show="show">
                <a href="#close" class="modal-overlay" aria-label="Close" @click="close"></a>
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header"></slot>
                        <a href="#close" class="btn btn-clear float-right" aria-label="Close" @click="close"></a>
                        <div class="modal-title h5">{{title}}</div>
                    </div>

                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
            </transition>
        </template>

        <template id="nav-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="header">
                    <button class="btn btn-action btn-sm float-left"  @click="back">
                        <i class="icon icon-back"></i>
                    </button>
                </div>
                <div slot="body">
                    <slot name="body"></slot>
                </div>
                <div slot="footer">
                    <slot name="footer"></slot>
                </div>
            </modal>
        </template>

        <!-- a simple dialog modal component -->
        <template id="dialog-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <div class="content">
                        <span v-html="text">
                    </div>
                </div>
                <div slot="footer">
                    <button v-for="button in buttons" class="btn" v-text="button.text" @click="buttonClick(button.id)"></button>
                </div>
            </modal>
        </template>

        <!-- select tool modal component -->
        <template id="select-tool-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <ul class="menu">
                        <tool-li v-for="tool in tools" 
                            :image="tool.image" 
                            :label="tool.label" 
                            :key="tool.toolname" 
                            :toolname="tool.toolname" 
                            :port="port"
                            @close="close"></tool-li>
                    </ul>
                </div>
            </modal>
        </template>

        <!-- select tool li component -->
        <template id="tool-li-template">
            <li class="menu-item" @click="toolSelect()">
                <a href="#">
                    <img :src="image" /> {{ label }}
                </a>
            </li>
        </template>

        <!-- all alerts modal component -->
        <template id="all-alerts-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <tabs :activetab="activeTab">
                        <tab :name="$t('message.alerts_risk_high')" :selected="true">
                            <alert-accordion v-for="(value, key) in alerts['High']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>
            
                        <tab :name="$t('message.alerts_risk_medium')">
                            <alert-accordion v-for="(value, key) in alerts['Medium']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>
            
                        <tab :name="$t('message.alerts_risk_low')">
                            <alert-accordion v-for="(value, key) in alerts['Low']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>

                        <tab :name="$t('message.alerts_risk_info')">
                            <alert-accordion v-for="(value, key) in alerts['Informational']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>
                    </tabs>
                </div>
            </modal>
        </template>        

        <!-- alert list modal component -->
        <template id="alert-list-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <alert-accordion v-for="(value, key) in alerts" :key="key" :title="key" :alerts="value" :port="port" @close="close"  @open="open"></alert-accordion>
                </div>
            </modal>
        </template>

        <!-- alert accordion component -->
        <template id="alert-accordion-template">
            <div class="accordion">
                <input type="checkbox" :id="title" name="accordion-checkbox" hidden>
                <label class="accordion-header" :for="title">
                    {{ title }} ({{ urlCount(alerts) }})
                </label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">
                        <li class="menu-item" v-for="alert in alerts"> 
                            <a @click="alertSelect(alert)"> {{ alert.url }} </a>
                        </li>
                    </ul>
                </div>
            </div>
        </template>

        <!-- alert details component -->
        <template id="alert-details-modal-template">
            <nav-modal :title="title" :show="show" @close="close" @back="back">
                <div slot="body">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td> {{ $t('message.alerts_field_url') }} </td>
                                <td @click="messageSelected(details.messageId)"> <a href="#">{{ details['url'] }}</a></td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_description') }} </td>
                                <td> {{ details['description'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_risk') }} </td>
                                <td> {{ details['risk'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_confidence') }} </td>
                                <td> {{ details['confidence'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_parameter') }} </td>
                                <td> {{ details['parameter'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_attack') }} </td>
                                <td> {{ details['attack'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_evidence') }} </td>
                                <td> {{ details['evidence'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_cweid') }} </td>
                                <td> {{ details['cweid'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_wascid') }} </td>
                                <td> {{ details['wascid'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_other') }} </td>
                                <td> {{ details['other'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_solution') }} </td>
                                <td> {{ details['solution'] }}</td>
                            </tr>
                            <tr>
                                <td> {{ $t('message.alerts_field_reference') }} </td>
                                <td v-if="details['reference']" >
	                                <li v-for="link in details['reference'].split('\n')">
	                                	<a :href="link" target="_top">{{ link }}</a>
	                                </li>
                                </td>
                                <td v-else >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nav-modal>
        </template>

        <!-- simple menu modal component -->
        <template id="simple-menu-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <ul class="menu">
                        <li v-for="(label, id) in items" class="menu-item" @click="itemSelect(id)"> {{ label }} </li>
                    </ul>
                </div>
            </modal>
        </template>

        <!-- http message modal component -->
        <template id="http-message-modal-template">
            <modal :title="title" :show="show" size="wide" @close="close">
                <div slot="body">
                    <tabs :activetab="activeTab">
                        <tab :name="$t('message.common_request')" selected="true">
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="request.header" :readonly="request.isReadonly"></textarea>
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="request.body" :readonly="request.isReadonly"></textarea>
                        </tab>
            
                        <tab :name="$t('message.common_response')" :disabled="isResponseDisabled">
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="response.header" :readonly="response.isReadonly"></textarea>
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="response.body" :readonly="response.isReadonly"></textarea>
                        </tab>
                    </tabs>
                </div>
                <div slot="footer">
                    <slot name="footer"></slot>
                </div>
            </modal>
        </template>

        <template id="break-message-modal-template">
            <http-message-modal ref="messageModal" :title="title" :show="show" @close="close" :request="request" :response="response" :is-response-disabled="isResponseDisabled" :active-tab="activeTab">
                <div slot="footer">
                    <button class="btn btn-primary" @click="step"> {{ $t('message.break_step') }} </button>
                    <button class="btn btn-primary" @click="continueOn"> {{ $t('message.break_continue') }} </button>
                    <button :class="{'btn': true, 'disabled': isDropDisabled}" @click="drop"> {{ $t('message.break_drop') }} </button>
                </div>
            </http-message-modal>
        </template>

        <template id="history-message-modal-template">
            <http-message-modal ref="messageModal" :title="title" :show="show" @close="close" :request="request" :response="response" :is-response-disabled="isResponseDisabled" :active-tab="activeTab">
                <div slot="footer">
                	<div><span class="errorMessages">{{errors}}</span></div>
                	<div class="float-left">
                    <button :class="{'btn': true, 'disabled': isAscanDisabled}" @click="ascanRequest"> {{ $t('message.history_ascan_request') }} <img src="<<ZAP_HUD_FILES>>?image=flame.png" /> </button>
                    </div>
                    <button class="btn btn-primary" @click="replay"> {{ $t('message.history_replay_console') }} </button>
                    <button class="btn" @click="replayInBrowser"> {{ $t('message.history_replay_browser') }} </button>
                </div>
            </http-message-modal>
        </template>

        <!-- tabs component -->
        <template id="tabs-template">
            <div>
                <div class="tabs">
                    <ul class="tab tab-block">
                        <li v-for="tab in tabs" :class="{ 'active': tab.isActive, 'tab-item': true, 'disabled': tab.disabled }">
                            <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
                        </li>
                    </ul>
                </div>
                <div class="tabs-details">
                    <slot></slot>
                </div>
            </div>
        </template>

        <!-- tab component -->
        <template id="tab-template">
            <div v-show="isActive"><slot></slot></div>
        </template>
        
        <!-- site tree modal component -->
        <template id="site-tree-modal-template">
            <modal :title="title" :show="show" size="wide" @close="close">
            <div slot="body">
				<ul id="site-tree-top">
				  <site-tree-node
				    class="site-tree-node"
				    :model="model">
				  </site-tree-node>
				</ul>
            </div>
            </modal>
        </template>

        <template id="site-tree-node-template">
			  <li>
			    <div :class="{bold: ! model.isLeaf}">
			      <span v-if="! model.isLeaf" @click="toggle">[{{ open ? '-' : '+' }}]</span>
			      <span v-if="model.hrefId > 0" @click="showHttpMessageDetails"><a href="#">{{ model.name }}</a></span>
			      <span v-if="model.hrefId == 0" @click="toggle">{{ model.name }}</span>
			    </div>
			    <ul v-show="open" v-if="! model.isLeaf && open">
			      <site-tree-node
			        class="site-tree-node"
			        v-for="(model, index) in model.children"
			        :key="index"
			        :model="model">
			      </site-tree-node>
			    </ul>
			  </li>
        </template>
        
    </body>
</html>
