<html>
<head>
	<link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre.css"/>
	<link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre-icons.css"/>
    <link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=drawer.css"/>

	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/localforage.min.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/vue.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/vue-i18n.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=i18n.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=utils.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=drawer.js"></script>
</head>
<body>
    <div id="app">
        <tabs>
            <tab :name="$t('message.history_tool')">
                <history></history>
            </tab>
        </tabs>
    </div>

    <template id="history-template">
        <div>
            <table id="history-header" class="table">
                <thead>
                    <tr>
                        <th class="title time"> 
                            {{ $t('message.history_http_message_field_time') }}
                        </th>
                        <th class="title code"> 
                            {{ $t('message.history_http_message_field_code') }}
                        </th>
                        <th class="title method"> 
                            {{ $t('message.history_http_message_field_method') }}
                        </th>
                        <th class="title url"> 
                            {{ $t('message.history_http_message_field_url') }}
                        </th>
                        <th class="title filter"> 
                            <span>
                                <input v-model="filter" type="text" placeholder="Filter" />
                            </span>
                            <span>
                                <input v-model="regexEnabled" type="checkbox" />
                            </span>
                            <span>
                                Enable RegEx
                            </span>
                        </th>
                        <th class="title hidden">
                            <span>{{ hiddenMessageCount }} of {{ messageCount }} items hidden by filters</span>
                        </th>
                    </tr>
                </thead>
            </table>
            <table id="history-messages" class="table table-striped table-hover table-scroll table-history" style="min-width: fit-content;">
                <tbody>
                    <tr v-for="message in filteredMessages" @click="messageSelected(message.id)" :id="'message-tr-'+message.id" class="message-tr">
                        <td class="field time"> {{ message.time }} </td>
                        <td class="field code"> {{ message.code }} </td>
                        <td class="field method"> {{ message.method }} </td>
                        <td class="field url"> {{ message.url }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </template>

    <!-- tabs component -->
    <template id="tabs-template">
        <div style="height: 100%;">
            <div class="tabs">
                <ul class="tab">
                    <li v-for="tab in tabs" :class="{ 'active': tab.isActive, 'tab-item': true }">
                        <a :href="tab.href" @click="selectTab(tab)" :class="{ 'badge': tab.isBadgeData}" :data-badge="tab.badgeData">{{ tab.name }}</a>
                    </li>
                    <!-- invisible tab-item to push tab-action buttons right -->
                    <li class="tab-item tab-action-spacer">
                    </li>
                    <li class="tab-item tab-action">
                        <drawer-button-showhide></drawer-button-showhide>
                    </li>
                    <li class="tab-item tab-action">
                        <drawer-button-settings></drawer-button-settings>
                    </li>
                    <li class="tab-item tab-action">
                        <button class="btn btn-action btn-sm"  @click="toggleOpenClose">
                            <i :class="{ 'icon': true, 'icon-arrow-up': isArrowUp, 'icon-arrow-down': !isArrowUp }"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tabs-details drawer-details">
                <slot></slot>
            </div>
        </div>
    </template>
    
    <!-- generic drawer button component -->
    <template id="drawer-button-template">
        <div :class="{'hud-button': true, 'small': true, 'active': isActive}" @click="$emit('click');" @mouseover="mouseOver" @mouseleave="mouseLeave">
            <img :src="icon" />
            <span>{{label}}</span>
        </div>
    </template>

    <template id="drawer-button-settings-template">
        <drawer-button-template icon="<<ZAP_HUD_FILES>>?image=gear.png" @click="showHudSettings"></drawer-button-template>
    </template>

    <template id="drawer-button-showhide-template">
        <drawer-button-template :icon="icon" @click="toggleIsVisible"></drawer-button-template>
    </template>

    <!-- tab component -->
    <template id="tab-template">
        <div v-show="isActive"><slot></slot></div>
    </template>
</body>
</html>