body {
  background: none transparent;
}

.welcome-div
{
     margin: 0 auto;
     position: relative;
     width: 791px; 
}

.welcome-msg
{
	margin: 0 auto;
	position: absolute;
	top: 50%;
}

.welcome-image
{
	width: 100%;
    height: 100%;
    object-fit: contain;
}

.tutorial-div
{
	margin: 0 auto;
	position: absolute;
	top: 60%;
	left: 10%;
}

.target-div
{
	margin: 0 auto;
	position: absolute;
	top: 60%;
	right: 10%;
}

.dontShowAgain-div
{
	margin: 0 auto;
	position: absolute;
	top: 80%;
	left: 10%;
}
