<html>
    <head>   
        <link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre.css"/>
        <link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=display.css"/>

        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/vue.js"></script>
        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=utils.js"></script>
        <script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=display.js"></script>
    </head>

    <body>
        <!-- the body of the app -->
        <div id="app">
            <dialog-modal :show="isDialogModalShown" :title="dialogModalTitle" :text="dialogModalText" @close="isDialogModalShown = false"></dialog-modal>
            <select-tool-modal :show="isSelectToolModalShown" title="Select Tool" @close="isSelectToolModalShown = false"></select-tool-modal>
            <alert-list-modal :show="isAlertListModalShown" :title="alertListModalTitle" @close="isAlertListModalShown = false"></alert-list-modal>
            <all-alerts-modal :show="isAllAlertsModalShown" :title="allAlertsModalTitle" @close="isAllAlertsModalShown = false"></all-alerts-modal>
            <alert-details-modal :show="isAlertDetailsModalShown" :title="alertDetailsModalTitle" @close="isAlertDetailsModalShown = false"></alert-details-modal>
            <simple-menu-modal :show="isSimpleMenuModalShown" :title="simpleMenuModalTitle" @close="isSimpleMenuModalShown = false"></simple-menu-modal>
            <http-message-modal :show="isHttpMessageModalShown" :title="httpMessageModalTitle" @close="isHttpMessageModalShown = false"></http-message-modal>
        </div>
        
        <!-- a base modal component -->
        <template id="modal-template">
            <transition name="modal" @after-leave="afterLeave">
            <div :class="{ 'active': true, 'modal': true, 'modal-wd': isWide, 'modal-sm': isSmall }" id="modal-id" v-show="show">
                <a href="#close" class="modal-overlay" aria-label="Close" @click="close"></a>
                <div class="modal-container">
                    <div class="modal-header">
                        <a href="#close" class="btn btn-clear float-right" aria-label="Close" @click="close"></a>
                        <div class="modal-title h5">{{title}}</div>
                    </div>

                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
            </transition>
        </template>

        <!-- a simple dialog modal component -->
        <template id="dialog-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <div class="content">
                        {{text}}
                    </div>
                </div>
                <div slot="footer">
                    <button v-for="button in buttons" class="btn" v-text="button.text" @click="buttonClick(button.id)"></button>
                </div>
            </modal>
        </template>

        <!-- select tool modal component -->
        <template id="select-tool-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <ul class="menu">
                        <tool-li v-for="tool in tools" 
                            :image="tool.image" 
                            :label="tool.label" 
                            :key="tool.toolname" 
                            :toolname="tool.toolname" 
                            :port="port"
                            @close="close"></tool-li>
                    </ul>
                </div>
            </modal>
        </template>

        <!-- select tool li component -->
        <template id="tool-li-template">
            <li class="menu-item" @click="toolSelect()">
                <a href="#">
                    <img :src="image" /> {{ label }}
                </a>
            </li>
        </template>

        <!-- all alerts modal component -->
        <template id="all-alerts-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <tabs>
                        <tab name="High" :selected="true">
                            <alert-accordion v-for="(value, key) in alerts['High']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>
            
                        <tab name="Medium">
                            <alert-accordion v-for="(value, key) in alerts['Medium']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>
            
                        <tab name="Low">
                            <alert-accordion v-for="(value, key) in alerts['Low']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>

                        <tab name="Informational">
                            <alert-accordion v-for="(value, key) in alerts['Informational']" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                        </tab>
                    </tabs>
                </div>
            </modal>
        </template>        

        <!-- alert list modal component -->
        <template id="alert-list-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <alert-accordion v-for="(value, key) in alerts" :key="key" :title="key" :alerts="value" :port="port" @close="close"></alert-accordion>
                </div>
            </modal>
        </template>

        <!-- alert accordion component -->
        <template id="alert-accordion-template">
            <div class="accordion">
                <input type="checkbox" :id="title" name="accordion-checkbox" hidden>
                <label class="accordion-header" :for="title">
                    {{ title }} ({{ urlCount(alerts) }})
                </label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">
                        <li class="menu-item" v-for="alert in alerts"> 
                            <a @click="alertSelect(alert)"> {{ alert.uri }} </a>
                        </li>
                    </ul>
                </div>
            </div>
        </template>

        <!-- alert details component -->
        <template id="alert-details-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr v-for="(detail, field) in details">
                                <td> {{ field }}</td>
                                <td> {{ detail }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </modal>
        </template>

        <!-- simple menu modal component -->
        <template id="simple-menu-modal-template">
            <modal :title="title" :show="show" @close="close">
                <div slot="body">
                    <ul class="menu">
                        <li v-for="(label, id) in items" class="menu-item" @click="itemSelect(id)"> {{ label }} </li>
                    </ul>
                </div>
            </modal>
        </template>

        <!-- http message modal component -->
        <template id="http-message-modal-template">
            <modal :title="title" :show="show" size="wide" @close="close">
                <div slot="body">
                    <tabs :activetab="activeTab">
                        <tab name="Request" selected="true">
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="request.header"></textarea>
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="request.body"></textarea>
                        </tab>
            
                        <tab name="Response" :disabled="isResponseDisabled">
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="response.header"></textarea>
                            <textarea class="form-input hud-http-message" rows="10" spellcheck="false" v-model="response.body"></textarea>
                        </tab>
                    </tabs>
                </div>
                <div slot="footer">
                    <button class="btn" @click="step">Step</button>
                    <button class="btn" @click="continueOn">Continue</button>
                    <button class="btn" @click="drop">Drop</button>
                </div>
            </modal>
        </template>

        <!-- tabs component -->
        <template id="tabs-template">
            <div>
                <div class="tabs">
                    <ul class="tab tab-block">
                        <li v-for="tab in tabs" :class="{ 'active': tab.isActive, 'tab-item': true, 'disabled': tab.disabled }">
                            <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
                        </li>
                    </ul>
                </div>
                <div class="tabs-details">
                    <slot></slot>
                </div>
            </div>
        </template>

        <!-- tab component -->
        <template id="tab-template">
            <div v-show="isActive"><slot></slot></div>
        </template>
    </body>
</html>