<html>
<head>
	<link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre.css"/>
	<link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre-icons.css"/>

	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/localforage.min.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/vue.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=utils.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=drawer.js"></script>
</head>
<body>
    <div id="app">
        <tabs>
            <tab name="DOMEvents">
                <dom-events></dom-events>
            </tab>
            <tab name="History">
                <history></history>
            </tab>
            <tab name="Storage">
                <storage></storage>
            </tab>
        </tabs>
    </div>

   <template id="dom-events-template">
       <table class="table table-striped table-hover" style="table-layout: fixed">
           <thead>
               <tr>
                   <th style="width: 33%;">Time</th>
                   <th style="width: 33%;">Element</th>
                   <th style="width: 33%;">Event</th>
               </tr>
           </thead>
           <tbody>
               <tr v-for="event in events">
                   <td> {{ event.timestamp }}</td>
                   <td> {{ event.element }}</td>
                   <td> {{ event.event }}</td>
               </tr>
           </tbody>
       </table>
   </template>

    <template id="history-template">
        <table class="table table-striped table-hover table-scroll table-history">
            <thead>
                <tr>
                    <th style="width: 125px">Time</th>
                    <th style="width: 75px">Status</th>
                    <th style="width: 75px">Method</th>
                    <th style="width: 800px">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="message in messages" @click="messageSelected(message.id)" :id="'message-tr-'+message.id">
                    <td> {{ message.time }}</td>
                    <td> {{ message.code }}</td>
                    <td> {{ message.method }}</td>
                    <td> {{ message.url }}</td>
                </tr>
            </tbody>
        </table>
    </template>

    <template id="tabs-template">
        <div style="height: 100%;">
            <div class="tabs">
                <ul class="tab">
                    <li v-for="tab in tabs" :class="{ 'active': tab.isActive, 'tab-item': true }">
                        <a :href="tab.href" @click="selectTab(tab)" :class="{ 'badge': tab.isBadgeData}" :data-badge="tab.badgeData">{{ tab.name }}</a>
                    </li>
                    <li class="tab-item tab-action">
                        <button class="btn btn-action btn-sm"  @click="toggleOpenClose">
                            <i :class="{ 'icon': true, 'icon-arrow-up': isArrowUp, 'icon-arrow-down': !isArrowUp }"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tabs-details drawer-details">
                <slot></slot>
            </div>
        </div>
    </template>

    <template id="storage-template">
       <table class="table table-striped table-hover" style="table-layout: fixed">
           <thead>
               <tr>
                   <th style="width: 25%;">Time</th>
                   <th style="width: 25%;">Action</th>
                   <th style="width: 25%;">Key</th>
                   <th style="width: 25%;">Value</th>
               </tr>
           </thead>
           <tbody>
               <tr v-for="event in storageEvents">
                   <td>{{ event.timestamp }}</td>
                   <td>{{ event.action }}</td>
                   <td>{{ event.key }}</td>
                   <td>{{ event.value }}</td>
               </tr>
           </tbody>
       </table>
   </template>

    <!-- tab component -->
    <template id="tab-template">
        <div v-show="isActive"><slot></slot></div>
    </template>
</body>
</html>