<html>
<head>
	<link rel="stylesheet" type="text/css" href="<<ZAP_HUD_FILES>>?name=libraries/spectre.css"/>

	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/localforage.min.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=libraries/vue.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=utils.js"></script>
	<script type="text/javascript" src="<<ZAP_HUD_FILES>>?name=drawer.js"></script>
</head>
<body>
    <div id="app">
        <tabs>
            <tab name="History">
                <history></history>
            </tab>
            <tab name="Local Storage">
                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td>someKey</td>
                            <td>someValue</td>
                        </tr>
                        <tr>
                            <td>someOtherKey</td>
                            <td>someOtherValue</td>
                        </tr>
                    </tbody>
                </table>
            </tab>
        </tabs>
    </div>

    <template id="history-template">
        <table class="table table-striped table-hover" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="width: 150px">Time</th>
                    <th style="width: 50px">Status</th>
                    <th style="width: 50px">Method</th>
                    <th style="width: 800px">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="message in timeDescendingMessages">
                    <td> {{ message.time }}</td>
                    <td> {{ message.code }}</td>
                    <td> {{ message.method }}</td>
                    <td> {{ message.url }}</td>
                </tr>
            </tbody>
        </table>
    </template>

    <!-- tabs component -->
    <template id="tabs-template">
        <div>
            <div class="tabs">
                <ul class="tab">
                    <li v-for="tab in tabs" :class="{ 'active': tab.isActive, 'tab-item': true }">
                        <a :href="tab.href" @click="selectTab(tab)">{{ tab.name }}</a>
                    </li>
                    <li class="tab-item tab-action">
                        <button class="btn btn-action btn-sm" @click="toggleOpenClose">{{openSymbol}}</button>
                    </li>
                </ul>
            </div>
            <div class="tabs-details">
                <slot></slot>
            </div>
        </div>
    </template>

    <!-- tab component -->
    <template id="tab-template">
        <div v-show="isActive"><slot></slot></div>
    </template>
</body>
</html>