#background-link {
  position: absolute;
  display: block;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0.5;
}

/* select tool display */
.menu-options {
  width: auto; 
  height: 334px; 
  padding: 0.5em; 
  overflow: scroll; 
  min-height: 0px; 
  max-height: none;
}

.menu-option {
  list-style-type: none;
  background: #eee;
  cursor: pointer;
  border: 1px solid white;
  height: 50px;
}

.menu-option:hover {
  background: #ddd;
}

.option-icon {
  display: inline-block;
  background: #dddddd;
  border: 2px solid #a1a1a1; 
  border-radius: 30px; 
  padding: 10px;
}

.option-label {
  display: inline-block;
  font-size: 20px;
}

/* show http message display */
label, input {
    display: block;
}

input.text, textarea.text {
    width: 95%;
    padding: 0.4em;
    font-family: "Courier New", Courier, monospace;
}

table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th {
  border: 1px solid #ddd;
    background-color: #eee;
    color: black;
    padding: 5px;
    text-align: left;
}
td {
  border: 1px solid white;
    padding: 5px;
    text-align: left;
    background-color: #f1f1f1;
}
#http-messages-div {
    width: 1000px;
    height: 600px;
    padding: 0.5em;
    overflow: scroll;
}
.tablinks {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
.tablinks:hover {
    background-color: #ddd;
}
.tablinks:focus , .tablinks:active {
    background-color: #ccc;
}
.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab li {
    float: left;
}
label {
    display: inline-block;
}
.dropdown {
    display: inline-block;
    float: right;
    margin-right: 3%;
}
.table-wrapper {
    overflow: auto;
    height: 236px;
    width: 97%;
    margin-right: 3%;
}

/* alerts */
.alert-link {
  display: inline-block;
}

.alert-detail {
  display: inline;
  width: 100%;
}

.alert-detail-area {
  width: 100%;
}


/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}