.buttons-list {
  font-size: 14px;
  font-family: Sans-serif;
  font-align: center;
}

.button {
  background: rgba(221, 221, 221, .7);
  border: 2px solid #a1a1a1; 
  border-radius: 25px; 
  margin: 1px;
  clear: both;
  cursor: pointer;
  height: 30px;
  float: ORIENTATION;
}

.button-icon {
  padding: 5px 5px;
  float: ORIENTATION;
}

.button-data {
  padding: 5px 5px;
  min-width: 30px;
  float: ORIENTATION;
}

.button-label {
  padding: 5px 5px;
  width: 100px;
  float: ORIENTATION;
  display: none;
}

/* context menu */
/* USE IF WE WANT CONTEXT MENU IN THE PANEL
.show {
  z-index: 2147483647;
  position: absolute;
  background-color:#dddddd;
  border: 2px solid #a1a1a1;
  padding: 2px;
  display: block;
  margin: 0;
  list-style-type: none;
  list-style: none;
  font-size: 14px;
  font-family: Sans-serif;
}

.hide {
  display: none;
}

.show li{ list-style: none; }
*/