.zap-hud {
  float:right; 
  bottom:0; 
  //border: 1px solid #a1a1a1; // Remove ;)
  margin-right: 0px;
  align: right;
  font-size: 14px;
  font-family: Sans-serif;
  text-shadow: white 2px 2px;
  width: 210px
}
.zap-hud-el {
  border: 2px solid #a1a1a1; 
  padding: 5px 10px;
  border-radius: 25px; 
  //float:right; 
}
.zap-hud-indent {
  padding: 5px 10px;
  //float:right; 
}
.zap-hud-icon {
  float:right; 
}
.zap-hud-flag {
  padding: 5px 5px;
  float:right; 
}
.zap-hud-about {
  padding: 5px 5px;
  float:right; 
}
.zap-hud-data {
  padding: 5px 5px;
  float:right; 
  min-width: 30px
  
}
.zap-hud-label {
  padding: 5px 5px;
  float:right; 
  width:150px;
}
.zap-hud-item {
  float:right; 
  background: #dddddd;
//  opacity = 0.5;
  cursor:pointer;
  border: 2px solid #a1a1a1; 
  border-radius: 25px; 
  margin: 1px;
}
.zap-hud-itemw {
  float:right; 
//  background: #eeeeee;
//  opacity = 0.5;
  cursor:pointer;
  margin: 1px;
  width: 250px
}
